#shape {
  width: 200px;
  height: 200px;
  background-color: red;
  position: relative;
}
#boundary{
  width: 500px;
  height:400px;
  position: relative;
  left: 50px;
  top: 50px
}
h1 {
  color: blue;
}
